<html>
	<head>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
 			});
		</script>
		<script src="/static/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>	
	</head>
	<body>
		<h1> Calculator </h1>
		<form action="." method="GET">
			<input type='text' name='expr' placeholder="Expression"/> <br/>
			<input type='text' name='vars' placeholder="Dictionary"/> <br/>
			
			<input type="radio" name="option" value="canonicalization" checked="checked"/>Canonicalization <br/>
			<input type="radio" name="option" value="diff"/>Differentiation</br>
			<input type="radio" name="option" value="compute"/>Compute</br>
			<input type="radio" name="option" value="defferentiability"/>Differentiability</br>
			<input type="radio" name="option" value="definite_integral"/>Definite Integral</br>
			<input type="radio" name="option" value="directional_derivative"/>Directional Derivative<br/>
			<input type="radio" name="option" value="gradient_vector"/>Gradient Vector<br/>
			<input type="radio" name="option" value="draw_plot"/>Draw Plot<br/>
			<input type="radio" name="option" value="draw_directional"/>Draw Directional Fn Plot {"variable": [start, end], "vector":{"x":1, "y":1}}<br/>
			<button type='submit'> Caculate</button>
		</form>
		<h1> Result: </h1>
		{% for key, value in ret.ret.items %}
			<h3>{{key}} : $ {{value}} $ </h3>
		{% endfor %}

		<img src="data:image/png;base64, {{ret.graphic}}"/>
		<br/>
	</body>


</html>
